
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<section id="content" ng-controller="AppCtrl1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br />
                <br />
                <header class="content-title">
                    <h1 class="title">Shopping Cart</h1>
                </header>
                <div class="xs-margin"></div>
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table cart-table">
                            <thead>
                                <tr>
                                    <th class="table-title">Product Name</th>
                                    <th class="table-title">Unit Price</th>
                                    <th class="table-title">SubTotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in cartProducts">
                                    <td class="item-name-col">
                                        <figure>
                                            <a href="#"><img src="/UploadedImage/{{product.Image}}.jpg" alt="Lowlands Lace Blouse"></a>
                                        </figure>
                                        <header class="item-name"><a href="#">{{product.Name}}</a></header>
                                        @*<ul>
                                                <li>{{product.Brand.Name}}</li>
                                            </ul>*@
                                    </td>
                                    <td class="item-price-col"><span class="item-price-special">Rs {{product.Price}}</span></td>
                                    <td class="item-total-col">
                                        <span class="item-price-special">Rs {{product.Price}}</span>
                                        <a ng-click="RemoveProduct(product.Id)" class="close-button"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="lg-margin"></div>
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 lg-margin">
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <table class="table total-table">
                            <tfoot>
                                <tr>
                                    <td>Total:</td>
                                    <td>Rs {{totalPrice}}</td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="md-margin"></div><a href="~/Shop/Index" class="btn btn-custom-2">CONTINUE SHOPPING</a> <a href="/Shop/Checkout" class="btn btn-custom">CHECKOUT</a>
                    </div>
                </div>
                <div class="md-margin2x"></div>
            </div>
        </div>
    </div>
</section>

<script>


    AppMode1.controller("AppCtrl1", function ($scope, $http) {


        $http({
            url: '/api/Cart/',
            method: 'GET'

        }).then(function (resp) {
            var Data = resp.data;
            $scope.cartProducts = Data.Products;
            $scope.totalPrice = Data.TotalPrice;
        });



        $scope.RemoveProduct = function (e) {

            $http({
                url: '/api/RemoveFromCart/' + e,
                method: 'GET'

            }).then(function () {

                $http({
                    url: '/api/Cart/',
                    method: 'GET'

                }).then(function (resp) {
                    var Data = resp.data;
                    $scope.cartProducts = Data.Products;
                    $scope.totalPrice = Data.TotalPrice;
                });

            });



        };

    });
</script>

