
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<section id="content" ng-controller="AppCtrl2">
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="content-title">
                    <h1 class="title">Checkout</h1>
                </header>
                <div class="xs-margin"></div>
                <form name="MyForm" id="checkout-form">
                    <div class="panel-group custom-accordion" id="checkout">
                        <div class="panel">
                            <div class="accordion-header">
                                <div class="accordion-title">1 Step: <span>Billing Information</span></div>
                                <a class="accordion-btn opened" data-toggle="collapse" data-target="#billing"></a>
                            </div>
                            <div id="billing" class="collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <h2 class="checkout-title">Your personal details</h2>
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Name&#42;</span></span>
                                                <input type="text" required class="form-control input-lg" ng-model="CName" placeholder="Your Name">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
                                                <input type="text" required class="form-control input-lg" ng-model="CEmail" placeholder="Your Email">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="input-icon input-icon-phone"></span><span class="input-text">Contact&#42;</span></span>
                                                <input type="text" required class="form-control input-lg" ng-model="CContactNumber" placeholder="Your Contact Number">
                                            </div>

                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <h2 class="checkout-title">Your Address</h2>
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="input-icon input-icon-address"></span><span class="input-text">Address&#42;</span></span>
                                                <input type="text" class="form-control input-lg" ng-model="CAddress" placeholder="Your Permanent Address">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="input-icon input-icon-city"></span><span class="input-text">City&#42;</span></span>
                                                <input type="text" required class="form-control input-lg" ng-model="CCity" placeholder="Your City">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="input-icon input-icon-postcode"></span><span class="input-text">Post Code&#42;</span></span>
                                                <input type="text" required class="form-control input-lg" ng-model="CPostalCode" placeholder="Your Post Code">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="accordion-header">
                                <div class="accordion-title">2 Step: <span>Confirm Order</span></div>
                                <a class="accordion-btn opened" data-toggle="collapse" data-target="#confirm"></a>
                            </div>
                            <div id="confirm" class="collapse in">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table checkout-table">
                                            <thead>
                                                <tr>
                                                    <th class="table-title">Product Name</th>
                                                    <th class="table-title">Unit Price</th>
                                                    <th class="table-title">SubTotal</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="product in cartProducts">
                                                    <td class="item-name-col">
                                                        <figure>
                                                            <a href="#"><img src="/UploadedImage/{{product.Image}}.jpg" alt="Lowlands Lace Blouse"></a>
                                                        </figure>
                                                        <header class="item-name"><a href="#">{{product.Name}}</a></header>
                                                    </td>
                                                    <td class="item-price-col"><span class="item-price-special">Rs {{product.Price}}</span></td>
                                                    <td class="item-total-col">
                                                        <span class="item-price-special">Rs {{product.Price}}</span>
                                                        <a ng-click="RemoveProduct(product.Id)" class="close-button"></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="lg-margin"></div>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12 lg-margin">
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            <table class="table total-table">
                                                <tfoot>
                                                    <tr>
                                                        <td>Total:</td>
                                                        <td>Rs {{totalPrice}}</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="lg-margin"></div>
                                    <div class="text-right">
                                        <input type="button" ng-disabled="MyForm.$invalid" ng-click="CheckOut()" class="btn btn-custom-2" value="CONFIRM ORDER">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="xlg-margin"></div>
            </div>
        </div>
    </div>
</section>
<script>
    

    AppMode1.controller("AppCtrl2", function ($scope, $http) {


        $http({
            url: '/api/Cart/',
            method: 'GET'

        }).then(function (resp) {
            var Data = resp.data;
            $scope.cartProducts = Data.Products;
            $scope.totalPrice = Data.TotalPrice;
        });


        $scope.RemoveProduct = function (e) {

            $http({
                url: '/api/RemoveFromCart/' + e,
                method: 'GET'

            }).then(function () {

                $http({
                    url: '/api/Cart/',
                    method: 'GET'

                }).then(function (resp) {
                    var Data = resp.data;
                    $scope.cartProducts = Data.Products;
                    $scope.totalPrice = Data.TotalPrice;
                });

            });
        };

        $scope.CheckOut = function () {
            

            $http({
                url: '/api/ConfirmOrder',
                method: 'POST',
                data: {
                    Name: $scope.CName,
                    City: $scope.CCity,
                    Country: $scope.CCountry,
                    PostalCode: $scope.CPostalCode,
                    Address: $scope.CAddress,
                    Email: $scope.CEmail,
                    ContactNumber: $scope.CContactNumber

                }


            }).then(function () {

                $scope.CName = "";
                $scope.CCity = "";
                $scope.CCountry = "";
                $scope.CPostalCode = "";
                $scope.CAddress = "";
                $scope.CEmail = "";
                $scope.CContactNumber = "";
                $scope.cartProducts = null;
                $scope.totalPrice = 0;
                alert("Order Placed Successfully");

            });

        };


    });


</script>