
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<section id="content" ng-app="MyApp" ng-controller="AppCtrl" role="form">
    <div id="category-header">
        <div class="row">
            <div class="container">
                <div class="col-2">
                    <div class="category-image"><img src="images/products/category-show.png" alt="Phone" class="img-responsive"></div>
                </div>
                <div class="col-2 last">
                    <div class="category-title">
                        <h2>Mobile</h2>
                        <p>Aenean dictum libero vitae magna sagittis, eu convallis dolor blandit. Fusce consectetur tincidunt pretium. Etiam non tellus massa. Aenean tincidunt in augue nec tempus. Nulla porta libero sit amet lorem pellentesque posuere...</p><a href="#" class="btn btn-custom">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9 col-sm-8 col-xs-12 main-content">
                        <div class="md-margin"></div>
                        <div class="category-item-container">
                            <div class="row">
                                <div ng-repeat="product in products">

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a href="/Shop/ProductDetail"><img src="/UploadedImage/{{product.Image}}.jpg" alt="item1" class="item-image"> <img src="images/products/item2-hover.jpg" alt="item1  Hover" class="item-image-hover"></a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="old-price">$210<span class="sub-price">.99</span></span> <span class="item-price">$160<span class="sub-price">.99</span></span>
                                                </div><span class="new-rect">{{product.Name}}</span> <span class="discount-rect">-15%</span>
                                            </div>
                                            <div class="item-meta-container">
                                                <h3 class="item-name"><a href="product.html">Phasellus consequat</a></h3>
                                                <div class="item-action">
                                                    <a href="/Shop/Cart" class="item-add-btn"><span class="icon-cart-text">Add to Cart</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                @*<div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a href="product.html"><img src="images/products/item2.jpg" alt="item1" class="item-image"> <img src="images/products/item2-hover.jpg" alt="item1  Hover" class="item-image-hover"></a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="old-price">$210<span class="sub-price">.99</span></span> <span class="item-price">$160<span class="sub-price">.99</span></span>
                                                </div><span class="new-rect">New</span> <span class="discount-rect">-15%</span>
                                            </div>
                                            <div class="item-meta-container">
                                                <h3 class="item-name"><a href="product.html">Phasellus consequat</a></h3>
                                                <div class="item-action">
                                                    <a href="/Shop/Cart" class="item-add-btn"><span class="icon-cart-text">Add to Cart</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a href="product.html"><img src="images/products/item1.jpg" alt="item1" class="item-image"> <img src="images/products/item1-hover.jpg" alt="item1  Hover" class="item-image-hover"></a>
                                                </figure>
                                                <div class="item-price-container"><span class="item-price">$199</span></div><span class="new-rect">New</span>
                                            </div>
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="74"></div>
                                                    </div><span class="ratings-amount">9 Reviews</span>
                                                </div>
                                                <h3 class="item-name"><a href="product.html">Phasellus consequat</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn"><span class="icon-cart-text">Add to Cart</span></a>
                                                    <div class="item-action-inner"><a href="#" class="icon-button icon-like">Favourite</a> <a href="#" class="icon-button icon-compare">Checkout</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a href="product.html"><img src="images/products/item4.jpg" alt="item1" class="item-image"> <img src="images/products/item4-hover.jpg" alt="item1  Hover" class="item-image-hover"></a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="old-price">$120<span class="sub-price">.99</span></span> <span class="item-price">$99<span class="sub-price">.99</span></span>
                                                </div><span class="discount-rect">-25%</span>
                                            </div>
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="90"></div>
                                                    </div><span class="ratings-amount">4 Reviews</span>
                                                </div>
                                                <h3 class="item-name"><a href="product.html">Phasellus consequat</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn"><span class="icon-cart-text">Add to Cart</span></a>
                                                    <div class="item-action-inner"><a href="#" class="icon-button icon-like">Favourite</a> <a href="#" class="icon-button icon-compare">Checkout</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a href="product.html"><img src="images/products/item10.jpg" alt="item1" class="item-image"> <img src="images/products/item10-hover.jpg" alt="item1  Hover" class="item-image-hover"></a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="item-price">$180<span class="sub-price">.99</span></span>
                                                </div>
                                            </div>
                                            <div class="item-meta-container">
                                                <div class="ratings-container"></div>
                                                <h3 class="item-name"><a href="product.html">Phasellus consequat</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn"><span class="icon-cart-text">Add to Cart</span></a>
                                                    <div class="item-action-inner"><a href="#" class="icon-button icon-like">Favourite</a> <a href="#" class="icon-button icon-compare">Checkout</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a href="product.html"><img src="images/products/item6.jpg" alt="item1" class="item-image"> <img src="images/products/item6-hover.jpg" alt="item1  Hover" class="item-image-hover"></a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="old-price">$99<span class="sub-price">.99</span></span> <span class="item-price">$84<span class="sub-price">.99</span></span>
                                                </div><span class="discount-rect">-20%</span>
                                            </div>
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="70"></div>
                                                    </div><span class="ratings-amount">6 Reviews</span>
                                                </div>
                                                <h3 class="item-name"><a href="product.html">Phasellus consequat</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn"><span class="icon-cart-text">Add to Cart</span></a>
                                                    <div class="item-action-inner"><a href="#" class="icon-button icon-like">Favourite</a> <a href="#" class="icon-button icon-compare">Checkout</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a href="product.html"><img src="images/products/item9.jpg" alt="item1" class="item-image"> <img src="images/products/item9-hover.jpg" alt="item1  Hover" class="item-image-hover"></a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="item-price">$49<span class="sub-price">.99</span></span>
                                                </div><span class="new-rect">New</span>
                                            </div>
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="60"></div>
                                                    </div><span class="ratings-amount">2 Reviews</span>
                                                </div>
                                                <h3 class="item-name"><a href="product.html">Phasellus consequat</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn"><span class="icon-cart-text">Add to Cart</span></a>
                                                    <div class="item-action-inner"><a href="#" class="icon-button icon-like">Favourite</a> <a href="#" class="icon-button icon-compare">Checkout</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a href="product.html"><img src="images/products/item2.jpg" alt="item1" class="item-image"> <img src="images/products/item2-hover.jpg" alt="item1  Hover" class="item-image-hover"></a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="item-price">$160<span class="sub-price">.99</span></span>
                                                </div><span class="new-rect">New</span>
                                            </div>
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="80"></div>
                                                    </div><span class="ratings-amount">5 Reviews</span>
                                                </div>
                                                <h3 class="item-name"><a href="product.html">Phasellus consequat</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn"><span class="icon-cart-text">Add to Cart</span></a>
                                                    <div class="item-action-inner"><a href="#" class="icon-button icon-like">Favourite</a> <a href="#" class="icon-button icon-compare">Checkout</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a href="product.html"><img src="images/products/item3.jpg" alt="item1" class="item-image"> <img src="images/products/item3-hover.jpg" alt="item1  Hover" class="item-image-hover"></a>
                                                </figure>
                                                <div class="item-price-container"><span class="item-price">$200</span></div><span class="discount-rect">-10%</span>
                                            </div>
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="74"></div>
                                                    </div><span class="ratings-amount">9 Reviews</span>
                                                </div>
                                                <h3 class="item-name"><a href="product.html">Phasellus consequat</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn"><span class="icon-cart-text">Add to Cart</span></a>
                                                    <div class="item-action-inner"><a href="#" class="icon-button icon-like">Favourite</a> <a href="#" class="icon-button icon-compare">Checkout</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a href="product.html"><img src="images/products/item5.jpg" alt="item1" class="item-image"> <img src="images/products/item5-hover.jpg" alt="item1  Hover" class="item-image-hover"></a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="old-price">$120<span class="sub-price">.99</span></span> <span class="item-price">$99<span class="sub-price">.99</span></span>
                                                </div><span class="new-rect">New</span>
                                            </div>
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="96"></div>
                                                    </div><span class="ratings-amount">5 Reviews</span>
                                                </div>
                                                <h3 class="item-name"><a href="product.html">Phasellus consequat</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn"><span class="icon-cart-text">Add to Cart</span></a>
                                                    <div class="item-action-inner"><a href="#" class="icon-button icon-like">Favourite</a> <a href="#" class="icon-button icon-compare">Checkout</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a href="product.html"><img src="images/products/item3.jpg" alt="item1" class="item-image"> <img src="images/products/item3-hover.jpg" alt="item1  Hover" class="item-image-hover"></a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="item-price">$99<span class="sub-price">.99</span></span>
                                                </div>
                                            </div>
                                            <div class="item-meta-container">
                                                <div class="ratings-container"></div>
                                                <h3 class="item-name"><a href="product.html">Phasellus consequat</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn"><span class="icon-cart-text">Add to Cart</span></a>
                                                    <div class="item-action-inner"><a href="#" class="icon-button icon-like">Favourite</a> <a href="#" class="icon-button icon-compare">Checkout</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a href="product.html"><img src="images/products/item7.jpg" alt="item1" class="item-image"> <img src="images/products/item7-hover.jpg" alt="item1  Hover" class="item-image-hover"></a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="old-price">$99<span class="sub-price">.99</span></span> <span class="item-price">$84<span class="sub-price">.99</span></span>
                                                </div><span class="discount-rect">-30%</span>
                                            </div>
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="70"></div>
                                                    </div><span class="ratings-amount">6 Reviews</span>
                                                </div>
                                                <h3 class="item-name"><a href="product.html">Phasellus consequat</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn"><span class="icon-cart-text">Add to Cart</span></a>
                                                    <div class="item-action-inner"><a href="#" class="icon-button icon-like">Favourite</a> <a href="#" class="icon-button icon-compare">Checkout</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a href="product.html"><img src="images/products/item5.jpg" alt="item1" class="item-image"> <img src="images/products/item5-hover.jpg" alt="item1  Hover" class="item-image-hover"></a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="item-price">$49<span class="sub-price">.99</span></span>
                                                </div>
                                            </div>
                                            <div class="item-meta-container">
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="60"></div>
                                                    </div><span class="ratings-amount">2 Reviews</span>
                                                </div>
                                                <h3 class="item-name"><a href="product.html">Phasellus consequat</a></h3>
                                                <div class="item-action">
                                                    <a href="#" class="item-add-btn"><span class="icon-cart-text">Add to Cart</span></a>
                                                    <div class="item-action-inner"><a href="#" class="icon-button icon-like">Favourite</a> <a href="#" class="icon-button icon-compare">Checkout</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
                        <div class="widget">
                            <div class="panel-group custom-accordion sm-accordion" id="category-filter">
                                <div class="panel">
                                    <div class="accordion-header">
                                        <div class="accordion-title"><span>Category</span></div>
                                        <a class="accordion-btn opened" data-toggle="collapse" data-target="#category-list-1"></a>
                                    </div>
                                    <div id="category-list-1" class="collapse in">
                                        <div class="panel-body">
                                            <ul ng-repeat="c in categories" class="category-filter-list jscrollpane">
                                                <li><a href="#">{{c.Type}} ({{c.Id}})</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="accordion-header">
                                        <div class="accordion-title"><span>Brand</span></div>
                                        <a class="accordion-btn opened" data-toggle="collapse" data-target="#category-list-2"></a>
                                    </div>
                                    <div id="category-list-2" class="collapse in">
                                        <div class="panel-body">
                                            <ul class="category-filter-list jscrollpane">
                                                <li><a href="#">Samsung (50)</a></li>
                                                <li><a href="#">Apple (80)</a></li>
                                                <li><a href="#">HTC (20)</a></li>
                                                <li><a href="#">Motoroloa (20)</a></li>
                                                <li><a href="#">Nokia (11)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="accordion-header">
                                        <div class="accordion-title"><span>Price</span></div>
                                        <a class="accordion-btn opened" data-toggle="collapse" data-target="#category-list-3"></a>
                                    </div>
                                    <div id="category-list-3" class="collapse in">
                                        <div class="panel-body">
                                            <div id="price-range"></div>
                                            <div id="price-range-details">
                                                <span class="sm-separator">from</span>
                                                <input type="text" id="price-range-low" class="separator"> <span class="sm-separator">to</span>
                                                <input type="text" id="price-range-high">
                                            </div>
                                            <div id="price-range-btns"><a href="#" class="btn btn-custom-2 btn-sm">Ok</a> <a href="#" class="btn btn-custom-2 btn-sm">Clear</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>


<script>

    var AppMode = angular.module("MyApp", ['ngMaterial']);

    AppMode.controller("AppCtrl", function ($scope, $http) {


        $http({
            url: '/api/Category/',
            method: 'GET'

        }).then(function (resp) {
            var Data = resp.data;
            $scope.categories = Data;
        });

        $http({
            url: '/api/Product/',
            method: 'GET'

        }).then(function (resp) {
            var Data = resp.data;
            $scope.products = Data;
        });
        

        //$('#products tbody').on('click', 'md-button', function () {
        //    $scope.Gac = this.id;
        //});
        //$("#proceed").on('click', function () {
        //    $scope.delete($scope.Gac);

        //});

        //$scope.changetable = function () {

        //    $('#products').DataTable().clear().destroy();
        //    $("#products").DataTable({
        //        ajax: {
        //            url: "/api/Product/" + $scope.cate.Id,
        //            dataSrc: ""
        //        },
        //        columns: [

        //            {
        //                data: "Name"
        //            },
        //            {
        //                data: "Brand"
        //            },
        //            {
        //                data: "Categories.Type"
        //            },
        //            {
        //                data: "Description"
        //            },
        //            {
        //                data: "Id",
        //                render: function (data, type, Wholedata) {
        //                    //return "<a ng-click='delete()' class='btn btn-primary'  >Remove</a>";
        //                    return "<button id='mybtn' class='btn btn-danger'  >Remove</button>";
        //                }
        //            }
        //        ]
        //    });
        //};


        //$scope.save = function () {


        //    $http({
        //        url: '/api/Product/New',
        //        method: 'POST',
        //        data: {
        //            Name: $scope.PName,
        //            Brand: $scope.PBrand,
        //            Description: $scope.PDescription,
        //            CategoryId: $scope.category.Id,
        //            Weight: $scope.PWeight,
        //            Length: $scope.PLength,
        //            Width: + $scope.PWidth,
        //            Height: $scope.PHeight

        //        }

        //    }).then(function () {

        //        $scope.PName = "";
        //        $scope.PBrand = "";
        //        $scope.PDescription = "";
        //        $scope.PWeight = "";
        //        $scope.PLength = "";
        //        $scope.PWidth = "";
        //        $scope.PHeight = "";
        //        $scope.category.Id = undefined;

        //        $('#products').DataTable().ajax.reload();

        //    });
        //};



        //$scope.delete = function (id) {

        //    $http.delete('/api/Product/' + id).then(
        //        function () {

        //            $('#products').DataTable().ajax.reload();
        //        }
        //    );
        //};


    });


</script>