
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<section id="content" ng-controller="AppCtrl3" role="form">
    <div id="category-header">
        <div class="row">
            <div class="container">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <img src="images/products/category-show.png" alt="Phone" class="img-responsive">
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9 col-sm-8 col-xs-12 main-content">
                        <div class="md-margin"></div>
                        <div class="category-item-container">
                            <div class="row">
                                <div ng-repeat="product in products">

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="item item-hover">
                                            <div class="item-image-wrapper">
                                                <figure class="item-image-container">
                                                    <a href="/Shop/ProductDetail/{{product.Id}}"><img src="/UploadedImage/{{product.Image}}.jpg" alt="item1" class="item-image" height="380" width="380"><img src="/UploadedImage/{{product.Image}}.jpg" alt="item1  Hover" class="item-image-hover" height="380" width="380"></a>
                                                </figure>
                                                <div class="item-price-container">
                                                    <span class="item-price">Rs {{product.Price}}</span>
                                                </div>
                                            </div>
                                            <div class="item-meta-container">
                                                <h3 class="item-name"><a href="product.html">{{product.Name}}</a></h3>
                                                <div class="item-action">
                                                    <a href="" ng-click="AddToCart(product.Id)" class="item-add-btn"><span class="icon-cart-text">Add to Cart</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
                        <div class="widget">
                            <div class="panel-group custom-accordion sm-accordion" id="category-filter">
                                <div class="panel">
                                    <div class="accordion-header">
                                        <div class="accordion-title"><span>Category</span></div>
                                        <a class="accordion-btn opened" data-toggle="collapse" data-target="#category-list-1"></a>
                                    </div>
                                    <div id="category-list-1" class="collapse in">
                                        <div class="panel-body">
                                            <ul ng-repeat="c in categories" class="category-filter-list jscrollpane">
                                                <li ng-click="SelectedCategory(c.Id)"><a href="">{{c.Type}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="accordion-header">
                                        <div class="accordion-title"><span>Brand</span></div>
                                        <a class="accordion-btn opened" data-toggle="collapse" data-target="#category-list-2"></a>
                                    </div>
                                    <div id="category-list-2" class="collapse in">
                                        <div class="panel-body">
                                            <ul ng-repeat="b in brands" class="category-filter-list jscrollpane">
                                                <li ng-click="SelectedBrand(b.Id)"><a href="">{{b.Name}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="accordion-header">
                                        <div class="accordion-title"><span>Price</span></div>
                                        <a class="accordion-btn opened" data-toggle="collapse" data-target="#category-list-3"></a>
                                    </div>
                                    <div id="category-list-3" class="collapse in">
                                        <div class="panel-body">
                                            <div id="price-range"></div>
                                            <div id="price-range-details">
                                                <span class="sm-separator">from</span>
                                                <input type="text" id="price-range-low" class="separator"> <span class="sm-separator">to</span>
                                                <input type="text" id="price-range-high">
                                            </div>
                                            <div id="price-range-btns"><a href="#" class="btn btn-custom-2 btn-sm">Ok</a> <a href="#" class="btn btn-custom-2 btn-sm">Clear</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    
    AppMode1.controller("AppCtrl3", function ($scope, $http) {


        $http({
            url: '/api/Category/',
            method: 'GET'

        }).then(function (resp) {
            var Data = resp.data;
            $scope.categories = Data;
        });

        $http({
            url: '/api/Product/',
            method: 'GET'

        }).then(function (resp) {
            var Data = resp.data;
            $scope.products = Data;
        });

        $http({
            url: '/api/Brand/',
            method: 'GET'

        }).then(function (resp) {
            var Data = resp.data;
            $scope.brands = Data;
        });

        $scope.SelectedBrand = function (p) {

            $http({
                url: '/api/ProductsWithBrands/' + p,
                method: 'GET'

            }).then(function (resp) {
                var Data = resp.data;
                $scope.products = Data;
            });
        };

        $scope.SelectedCategory = function (p) {

            $http({
                url: '/api/Product/' + p,
                method: 'GET'

            }).then(function (resp) {
                var Data = resp.data;
                $scope.products = Data;
            });
        };

        $scope.AddToCart = function (e) {

            $http({
                url: '/api/AddToCart/' + e,
                method: 'GET'

            });

            alert("Product Succeccfully Added To Cart");

        };


    });


</script>