
@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<section id="content" ng-app="MyApp" ng-controller="AppCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br />
                <br />
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 product-viewer clearfix">

                        <div id="product-image-container">
                            <figure>
                                <img src="/UploadedImage/{{product.Image}}.jpg" data-zoom-image="/UploadedImage/{{product.Image}}.jpg" alt="Product Big image" id="product-image">
                                <figcaption class="item-price-container"><span class="item-price">Rs {{product.Price}}</span></figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 product">
                        <div class="lg-margin visible-sm visible-xs"></div>
                        <h1 class="product-name">{{product.Brands.Name}} {{product.Name}}</h1>
                        <ul class="product-list">
                            <li><span>Availability:</span>In Stock</li>
                            <li><span>Availavle Stock:</span>{{product.TotalQuantity}}</li>
                            <li><span>Category:</span>{{product.Categories.Type}}</li>
                            <li><span>Brand:</span>{{product.Brands.Name}}</li>
                            <li><span>Weight:</span>{{product.Weight}}</li>
                            <li><span>Length:</span>{{product.Length}}</li>
                            <li><span>Width:</span>{{product.Width}}</li>
                            <li><span>Height:</span>{{product.Height}}</li>
                        </ul>
                        <hr>
                        <div class="product-add clearfix">
                            <div class="custom-quantity-input">
                                <input type="text" disabled name="quantity" value="{{PCount}}"> <a href="#" ng-click="CountAdd()" class="quantity-btn quantity-input-up"><i class="fa fa-angle-up"></i></a> <a href="#" ng-click="CountDel()" class="quantity-btn quantity-input-down"><i class="fa fa-angle-down"></i></a>
                            </div>
                            <button class="btn btn-custom-2" ng-click="AddToCart()">ADD TO CART</button>
                        </div>
                        <div class="md-margin"></div>
                    </div>
                </div>
                <div class="lg-margin2x"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="tab-container left product-detail-tab clearfix">
                            <ul class="nav-tabs">
                                <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                                <li><a href="#description" data-toggle="tab">Description</a></li>
                                <li><a href="#additional" data-toggle="tab">Additional Info</a></li>
                                <li><a href="#video" data-toggle="tab">Video</a></li>
                            </ul>
                            <div class="tab-content clearfix">
                                <div class="tab-pane active" id="overview">
                                    <p>{{product.OverView}}</p>
                                </div>
                                <div class="tab-pane" id="description">
                                    <p>{{product.Description}}</p>
                                </div>
                                <div class="tab-pane" id="additional">
                                    <strong>Additional Informations</strong>
                                    <p>{{product.AdditionalInfo}}</p>
                                </div>
                                <div class="tab-pane" id="video">
                                    <div class="video-container">
                                        <strong>A Video about Product</strong>
                                        <hr>
                                        @*<iframe width="560" height="315" src="www.youtube.com/embed/{{product.VideoLink}}"></iframe>*@
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/v3Tkk5JgfgM"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lg-margin visible-xs"></div>
                    </div>
                    <div class="lg-margin2x visible-sm visible-xs"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    var AppMode = angular.module("MyApp", ['ngMaterial']);

    AppMode.controller("AppCtrl", function ($scope, $http) {

        $scope.proId = location.pathname.split("/").pop();
        $http({
            url: '/api/ProductDetail/' + $scope.proId,
            method: 'GET'

        }).then(function (resp) {
            var Data = resp.data;
            $scope.product = Data;
        });



        $scope.PCount = 1;

        $scope.CountAdd = function () {


            if ($scope.PCount < $scope.product.TotalQuantity) {
                $scope.PCount = $scope.PCount + 1;
            }
        };

        $scope.CountDel = function () {
            if ($scope.PCount > 1) {
                $scope.PCount = $scope.PCount - 1;
            }


        };

        $scope.AddToCart = function () {

            if ($scope.PCount > 0) {
                $http({
                    url: '/api/AddToCart/' + $scope.product.Id,
                    method: 'GET'

                });
                alert("Product Added to Cart Successfully");
            } 



        };




    });
</script>